/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*FONTS*/
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@font-face {
    font-family: 'moonbold';
    src: url('../font/moon_bold.woff2') format('woff2'),
         url('../font/moon_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*Some prefixes*/
h1{
    font-family: "moonbold";
    font-size: 40px;
    margin: 0px;
}

body{ overflow-x: hidden; }

header{
    padding: 15px;
    padding-left: 90px;
    box-sizing: border-box;
    position: fixed;
    z-index: 9999;
    background-color: #fff;
    width: 100%;
    border-bottom: 2px solid #8f9799;
}    
    header h1{ font-size: 40px; color: #8f9799;}
    header span{
        font-family: "Open Sans";
        color: #8f9799;
    }

/*Styling for NAV*/
nav{
    position: fixed;
    right: 0;
    z-index: 1;
    right: 90px;
    top: 19px;
}    
    #nav-icon {
        float: right;
        background-color: rgba(255,255,255,1);
        width: 50px;
        height: 50px;
        position: relative;
        border: 3px solid #8f9799;
        box-sizing: border-box;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }

        #nav-icon span{
            display: block;
            position: absolute;
            height: 3px;
            width: 34px;
            background: #8f9799;
            opacity: 1;
            left: 4.5px;
            margin-top: 10px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
        }

            #nav-icon:hover span{
                transition: 0.2s;
                left: 1px;
                width: 95%;
            }

            #nav-icon span:nth-child(1) {top: 0px;}
            #nav-icon span:nth-child(2),#nav-icon span:nth-child(3) { top: 11px;}
            #nav-icon span:nth-child(4) {top: 22px;}
            #nav-icon.open span:nth-child(1) {
                top: 12px;
                width: 0%;
                left: 50%;
            }
            #nav-icon.open span:nth-child(2) {
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            #nav-icon.open span:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
            #nav-icon.open span:nth-child(4) {
                top: 12px;
                width: 0%;
                left: 50%;
            }
    ul#menu-list{
        padding-left: 0;
        font-family: "moonbold";
        position: relative;
        background-color: rgba(255,255,255,1);
        width: 100%;
        clear: both;
        display: block;
        top: 35px;
        text-align: right;
        opacity: 0;
        transition: 0.3s;
        border: 3px solid #8f9799;
        box-sizing: border-box;
        padding: 10px;
        pointer-events: none;
    }
    ul#menu-list.open{
        opacity: 1;
        transition: 0.3s;
        top: 17px;
        pointer-events: all;
    }
        ul li{ list-style: none; padding-bottom: 10px;}
        ul li:last-child{ padding-bottom: 0px;}
            ul li a{
                color: #8f9799; 
                text-decoration: none;
                position: relative;
            }
                ul li a:before{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: -4px;
                    left: 0;
                    background-color: #8f9799;
                    visibility: hidden;
                    -webkit-transform: scaleX(0);
                    transform: scaleX(0);
                    -webkit-transition: all 0.2s ease-in-out 0s;
                    transition: all 0.2s ease-in-out 0s;
                }
                ul li a:hover:before{
                    visibility: visible;
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);
                }

/*With this line the content in every section stays there and will not apear in another section*/
section{ clear: both;}

/*Intro section site*/
section.intro-site{
    height: 100vh;
}
    
    .intro-site .intro-title{
        max-width: 100%;
        display: block;
        position: relative;
        top: 17%;
        text-align: center;
    }

    section.intro-site .intro-image{
        width: 100%;
        max-width: 500px;
        display: block;
        margin: 0 auto;
        margin-top: 160px;
    }
        section.intro-site .intro-image img{width: 100%;}
    .intro-site .click-down{
        width: 55px;
        height: 55px;
        background-image: url("../img/button-scroll-down.svg");
        background-size: cover;
        background-position: center center;
        position: absolute;
        bottom: 20px;
        left: 50%;
        margin-left: -27.5px;
        animation-name: bounce;
        -webkit-animation-name: bounce;
        -webkit-animation-duration: 1s;
        animation-duration: 2s;
        animation-iteration-count: 5000;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
        .intro-site .click-down a{width: 100%; height: 100%; display: block;}
        @keyframes bounce {
            0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
            40% {transform:translateY(-12px);}
            60% {transform:translateY(-12px);}
        }


/*Explaining of the product*/
.explain-product{
    height: 100vh;
}
    
    .col-left,.col-right{
        width: 50%;
        float: left;
        display: table;
        height: inherit;
        padding: 90px;
        padding-bottom: 0px;
        position: relative;
        box-sizing: border-box;
        color: #8f9799;
    }
        .col-left .text, .col-right .text{
            max-width: 350px;
            width: 100%;
            display: table-cell;
            vertical-align: middle;
            position: relative;
            transition: 0.5s;
        }
            .col-left p,.col-right p{
                font-family: "Open Sans";
                line-height: 25px;
                font-size: 14px;
            }
        .explain-product .image{
            height: 100%;
            display: block;
        }    
            .explain-product .image img{ 
                width: 130%; 
                max-width: 760px;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }

/*Function of the product*/
section.function-product{
    /*background-color: #8f9799;*/
    height: 100vh;
}
    .function-product .image{
        position: relative;
        left: -150px;
        height: 100%;
        display: block;
    }
        .function-product .image img{ 
            width: 130%; 
            max-width: 760px;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

/*Contact form*/
section.contact{
    /*background-color: #8f9799;*/
    height: 100vh;
}
    section.contact .col-right{padding-top: 125px;}       
    section.contact input{
        width: 100%; 
        height: 40px;
        background-color: transparent;
        border: 2px solid #8f9799;
        color: #8f9799;
        margin-bottom: 20px;
        padding: 20px;
        box-sizing: border-box;
        font-family: "Open Sans";
    }
        ::-webkit-input-placeholder { color: #8f9799;}
        ::-moz-placeholder { color: #8f9799;}
        :-ms-input-placeholder { color: #8f9799;}
        :-moz-placeholder { color: #8f9799;}
        
        section.contact input:focus{ outline: 0px;}
    section.contact textarea{
        font-family: "Open Sans";
        background-color: transparent;
        border: 2px solid #8f9799;
        width: 100%;
        min-height: 200px;
        max-height: 200px;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
        section.contact textarea:focus{ outline: 0px;}
    section.contact button{
        font-family: "Open Sans";
        height: 40px;
        margin-top: 20px;
        border: 2px solid #8f9799;
        padding: 7px 20px;
        box-sizing: border-box;
        background-color: transparent;
        transition: 0.4s;
    }
        section.contact button:hover{
            background-color: #8f9799;
            color: #fff;
            transition: 0.2s;
        }

/* Mediaquerys*/
@media screen and (max-width: 850px){
    .col-left,.col-right{
        padding: 90px 40px;
    }
}

@media screen and (max-width: 680px){
    header{padding-left: 40px;}
    header nav{right: 40px; width: inherit;}
    header nav ul#menu-list{
        font-size: 25px;
        text-align: center;
        right: -40px;
        border-top: 3px solid #8F9799;
        border-bottom: 3px solid #8F9799;
        border-left: 0px;
        border-right: 0px;
    }

    section.intro-site{height: 100vh;}
        section.intro-site .intro-image {
            width: 80%;
            margin-top: 170px;
        }

    section.explain-product,
    section.function-product,
    section.contact{
        height: auto;
    }
        .intro-site .intro-title{
            width: 80%;
            max-width: 80%;
            margin: 0 auto;
            position: relative;
            left: 0;
            top: 0;
            margin-top: 130px;
        }
        .col-left, .col-right{
            width: 100%;
        }
    section.explain-product .col-right,
    section.function-product .col-left,
    section.contact .col-right{
        padding-top: 0px;
    }
    /*Change the order of the columns for mobile*/
    section.function-product{ display:flex; flex-direction: column;}    
    section.function-product .col-left{ order: 2;}
    section.function-product .col-right{ order: 1;}
    section.contact form{padding-top: 0px;}

    .function-product .image img{ transform: translateY(0%);}
    .explain-product .image img{ transform: translateY(0%);}

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
